* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: orange;
  border: solid thick black;
  font-size: 35px;
  padding: 25px;
  width: 100%;
  top: 0;
  position: sticky;
}

.about {
  text-align: center;
  background-color: gray;
  font-size: 25px;
  padding: 80px;
  display: flexbox;
  margin: 25px 90px 15px 90px;
  border-radius: 30px;
  border: solid thick black;
}